<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elikya - Fil d'actualité</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='fil_actu.css') }}">
</head>

<body>

<header>
  <div class="logo">
    <img src="{{ url_for('static', filename='profils/logo.png') }}" alt="Elikya Logo" style="height: 65px; vertical-align: middle;">
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Rechercher un produit, une marque...">
  </div>

  <div class="header-icons">
    
    <div class="panier">
      <img src="{{ url_for('static', filename='profils/home.png') }}" alt="home" class="panier-img" onclick="window.location.href='{{ url_for('auth.index') }}'">
    </div>
  
    
    <div class="panier">
      <img src="{{ url_for('static', filename='profils/notification.png') }}" alt="notifications" class="panier-img" >
    </div>
    <a href="{{url_for('panier.panier') }}">
      <div class="panier">
        <img src="{{ url_for('static', filename='profils/panier.png') }}" alt="panier" class="panier-img" >
      </div>
    </a>
    

    <a href="{{ url_for('buyer.profil_acheteur') }}">
      <div class="profile">
        {% if user and user.get('profil') %} {# Vérifie si 'user' est un dictionnaire et contient la clé 'profil' #}
          <img src="{{ user['profil'] }}" class="profil-img">
        {% else %}
          <img src="{{ url_for('static', filename='profils/default_profile.png') }}" alt="Profil" class="profil-img">
        {% endif %}
      </div>
    </a>
  </div>
</header>

<main>
  <div class="product-grid">
    {% for p in produits %}
    <a href="{{ url_for('produit.detail_produit', product_id=p['id']) }}" style="text-decoration: none; color: inherit;">
      <div class="product-card" >

        <!-- Image du produit -->
        <img src="{{ p.image_url }}" alt="{{ p.name }}" class="product-image">

        <div class="product-info">
          <h3>{{ p.name }}</h3>
          <p class="price">{{ p.price }} $</p>

          <!-- Nom de la boutique -->
          <p class="shop-name">Shop: {{ p.nom_boutique }}</p>
        </div>

      </div>
    </a>
    {% endfor %}
  </div>
</main>
<footer><a href="{{ url_for('auth.deconnexion') }}" class="secondary">Se déconnecter</a></footer>

</body>
</html>