<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Notifications - e-MiniShopRDC</title>
<link rel="stylesheet" href="/static/notif_vendeur.css">
</head>
<body>

<header>
  <div class="logo">
    <img src="{{ url_for('static', filename='profils/logo.png') }}" alt="Elikya Logo" style="height: 65px; vertical-align: middle;">
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Rechercher un produit, une marque...">
  </div>

  <div class="header-icons">
    
    <div class="panier">
      <img src="{{ url_for('static', filename='profils/home.png') }}" alt="home" class="panier-img" onclick="window.location.href='{{ url_for('auth.index') }}'">
    </div>
  
    <a href="{{ url_for('notification.notifications') }}">
      <div class="panier">
      <img src="{{ url_for('static', filename='profils/notification.png') }}" alt="notifications" class="panier-img" >
    </div>
    </a>
    
    <a href="{{url_for('panier.panier') }}">
      <div class="panier">
        <img src="{{ url_for('static', filename='profils/panier.png') }}" alt="panier" class="panier-img" >
      </div>
    </a>
    

    <a href="{{ url_for('buyer.profil_acheteur') }}">
      <div class="profile">
        {% if user and user.get('profil') %} {# Vérifie si 'user' est un dictionnaire et contient la clé 'profil' #}
          <img src="{{ user['profil'] }}" class="profil-img">
        {% else %}
          <img src="{{ url_for('static', filename='profils/default_profile.png') }}" alt="Profil" class="profil-img">
        {% endif %}
      </div>
    </a>
  </div>
</header>

<main>
  <h2>Notifications</h2>

  <div class="notification">
    <img src="boutique1.jpg" alt="Boutique KasaTech">
    <div class="notification-content">
      <p>Nouvelle Commande : <strong>iphone17 Normal.</strong></p>
      <div class="time">Il y a 2h</div>
    </div>
  </div>

  <div class="notification">
    <img src="boutique2.jpg" alt="Boutique TechWorld">
    <div class="notification-content">
      <p>Avis sur produits : <strong>Casque Gaming</strong> </p>
      <div class="time">Hier</div>
    </div>
  </div>

  <div class="notification">
    <img src="produit1.jpg" alt="Produit PS5">
    <div class="notification-content">
      <p>Réponse à votre commentaire sur <strong>PS5 Pro</strong> </p>
      <div class="time">Il y a 3h</div>
    </div>
  </div>

  <div class="notification">
    <img src="produit2.jpg" alt="Casque Gaming">
    <div class="notification-content">
      <p>Nouvelle Commande: <strong>Casque Gaming</strong></p>
      <div class="time">Il y a 1h</div>
    </div>
  </div>

</main>

</body>
</html>