<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Paiement confirmé - e-MiniShopRDC</title>
<link rel="stylesheet" href="{{ url_for('static', filename='paiement_confirme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fil_actu.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
<header>
  <div class="header-top">
    <div class="logo-container {{ 'active-home' if request.endpoint == 'auth.index' }}">
      <img src="{{ url_for('static', filename='profils/logo.png') }}" alt="Logo" style="height: 50px;">
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Rechercher un produit..." style="width:100%; padding:8px; border-radius:20px; border:none; box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);">
    </div>

    <label for="menu-toggle" class="hamburger">☰</label>
  </div>

  <input type="checkbox" id="menu-toggle" class="menu-cb">

  <nav class="nav-menu">
    <ul class="nav-list">
      <li><a href="{{ url_for('auth.index') }}" class="nav-item">
        <i class="fa-solid fa-house nav-icon"></i> Accueil
      </a></li>
      <li><a href="{{ url_for('notification.notifications') }}" class="nav-item">
        <i class="fa-solid fa-bell nav-icon"></i> Notifications
      </a></li>
      <li><a href="{{ url_for('panier.panier') }}" class="nav-item">
        <i class="fa-solid fa-cart-shopping nav-icon"></i> Panier
      </a></li>
      <li><a href="{{ url_for('buyer.profil_acheteur') }}" class="nav-item">
        <div class="profile" style="width:30px; height:30px;">
          {% if user and user.get('profil') %}
            <img src="{{ user['profil'] }}" class="profil-img" style="width:100%; border-radius:50%;">
          {% else %}
            <img src="{{ url_for('static', filename='profils/default_profile.png') }}" class="profil-img" style="width:100%; border-radius:50%;">
          {% endif %}
        </div> Profil
      </a></li>
    </ul>
  </nav>
</header>

<main>
  <h2>Paiement confirmé !</h2>

  <div class="info-box">
    <p>Merci pour votre achat. Votre commande a été confirmé avec succès.</p>
    <p>Bfast Organise la livraison. vous serez contacté ulterieurment.</p>
  </div>

  <!-- Bouton pour contacter le vendeur -->
  <a href="{{ url_for('suivre_commande') }}" class="button-contact">Suivre ma commande</a>

</main>

</body>
</html>