<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Paiement confirmé - e-MiniShopRDC</title>
<link rel="stylesheet" href="{{ url_for('static', filename='paiement_confirme.css') }}">

</head>
<body>
<header>
  <div class="logo">
    <img src="{{ url_for('static', filename='profils/logo.png') }}" alt="Elikya Logo" style="height: 65px; vertical-align: middle;">
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Rechercher un produit, une marque...">
  </div>

  <div class="header-icons">
    
    <div class="panier">
      <img src="{{ url_for('static', filename='profils/home.png') }}" alt="home" class="panier-img" onclick="window.location.href='{{ url_for('auth.index') }}'">
    </div>
  
    
    <div class="panier">
      <img src="{{ url_for('static', filename='profils/notification.png') }}" alt="notifications" class="panier-img" >
    </div>
    <a href="{{url_for('panier.panier') }}">
      <div class="panier">
        <img src="{{ url_for('static', filename='profils/panier.png') }}" alt="panier" class="panier-img" >
      </div>
    </a>
    

    <a href="{{ url_for('buyer.profil_acheteur') }}">
      <div class="profile">
        {% if user and user.get('profil') %} {# Vérifie si 'user' est un dictionnaire et contient la clé 'profil' #}
          <img src="{{ user['profil'] }}" class="profil-img">
        {% else %}
          <img src="{{ url_for('static', filename='profils/default_profile.png') }}" alt="Profil" class="profil-img">
        {% endif %}
      </div>
    </a>
  </div>
</header>

<main>
  <h2>Paiement confirmé !</h2>

  <div class="info-box">
    <p>Merci pour votre achat. Votre commande a été confirmé avec succès.</p>
    <p>Bfast Organise la livraison. vous serez contacté ulterieurment.</p>
  </div>

  <!-- Bouton pour contacter le vendeur -->
  <a href="{{ url_for('suivre_commande') }}" class="button-contact">Suivre ma commande</a>

</main>

</body>
</html>