<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil Boutique - KasaTech</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='profil_vendeur.css') }}">
</head>
<body>

<header>
  <div class="logo">
    <img src="{{ url_for('static', filename='profils/logo.png') }}" alt="Elikya Logo" style="height: 65px; vertical-align: middle;">
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Rechercher un produit, une marque...">
  </div>

  <div class="header-icons">
    
    <div class="panier">
      <img src="{{ url_for('static', filename='profils/home.png') }}" alt="home" class="panier-img" onclick="window.location.href='{{ url_for('auth.index') }}'">
    </div>
  
    <a href="{{ url_for('notification.notifications') }}">
      <div class="panier">
      <img src="{{ url_for('static', filename='profils/notification.png') }}" alt="notifications" class="panier-img" >
    </div>
    </a>
    
    <a href="{{url_for('panier.panier') }}">
      <div class="panier">
        <img src="{{ url_for('static', filename='profils/panier.png') }}" alt="panier" class="panier-img" >
      </div>
    </a>
    

    <a href="{{ url_for('buyer.profil_acheteur') }}">
      <div class="profile">
        {% if user and user.get('profil') %} {# Vérifie si 'user' est un dictionnaire et contient la clé 'profil' #}
          <img src="{{ user['profil'] }}" class="profil-img">
        {% else %}
          <img src="{{ url_for('static', filename='profils/default_profile.png') }}" alt="Profil" class="profil-img">
        {% endif %}
      </div>
    </a>
  </div>
</header>

<main>
  <div class="shop-header">
    <img src="{{ user.profil }}" alt="Profil Acheteur">
    <div class="shop-info">
      <h2 class="username"> {{ user.nom_boutique or 'Boutique sans nom' }}</h2>
      <p>{{ user.description or 'Aucune description disponible.' }}</p>
      <a href="" class="subscribe-btn">mes notifications</a>
    </div>
  </div>

  <h2>Produits</h2>
  <div class="product-grid">
    {% for p in produits %}
    <div class="product-card" onclick="window.location.href='{{ url_for('produit.detail_produit', product_id=p['id']) }}'">
      <img src="{{ p.image_url }}" alt="{{ p.name }}">
      <div class="product-info">
        <h3>{{ p.name }}</h3>
        <p class="description">{{ p.description }}</p>
        <strong class="price">{{ p.price }} $</strong>
      </div>
    </div>
    {% endfor %}
</div> <br> <br>

<a href="" class="subscribe-btn">Ajouter un produit</a> <br><br><br>

<a href="{{ url_for('auth.index') }}" class="subscribe-btn">Accueil</a>


{% if produits|length == 0 %}
<p>Aucun produit pour le moment.</p>
{% endif %}
</main>

</body>
</html>
